<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>--this is our Home page--</title>
</head>
<body>
<form>
         <div class="Add">
             <ul>
                 <label for="Add"><b>To insert_Books_click_here  : </b></label>
                <li><a href="/insert_Book" target="_blank">Add_Book</a></li>
            </ul>
         </div>



        <div class="Delete">
            <ul>
                <label for="Delete"><b>To Delete_Books_click_here  : </b></label>
                <li><a href="/delete_Book" target="_red">Delete</a></li>
            </ul>
        </div>




         <div class="List">
             <ul>
                 <label for="List"><b>To show_Books_click_here  : </b></label>
                <li><a href="/list_Book" target="_white">Fetch</a></li>
            </ul>
         </div>




       <div class="Details">
            <ul>
                <label for="Details"><b>To Get Details_Books_click_here  : </b></label>
                <li><a href="/detail_Book" target="_gren">Details</a></li>
            </ul>
        </div>

       <div class="Update">
            <ul>
                <label for="Update"><b>To Delete_Books_click_here  : </b></label>
                <li><a href="/update_Book" target="_yello">Update</a></li>
            </ul>
        </div>

</form>
</body>
</html>